
// 表格头部搜索
.table-search-header{
  padding:20px;
  .search-item{
    line-height: 32px;
    .label{
      display:inline-block;
      vertical-align: middle;
    }
    .val{
      display:inline-block;
      vertical-align: middle;
    }
  }
  .btn-list{
    text-align: right;
    .ant-btn{
      margin-left:10px;
    }
  }
}
// 表格
.table-list-body{
  padding:0 10px;
  .table-op-link{
    a{
      margin-right: 10px;
      color: #1890ff;
    }
    a:last-child{
      margin-right:0;
    }
  }
}
.mr10{
  margin-right: 10px;
}